/node_modules

/storage/*.key
/vendor
/resources/data/search.json
/public/data/search.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
supervisord.log
supervisord.pid
.idea/